@use "../abstracts";

.checkout-page {
  display: flex;
  flex-direction: column;

  min-height: 80vh;
  padding-bottom: 50px;

  &__breadcrumbs {
    background-color: var(--checkout-breadcrumbs-bg);
  }
}

.checkout-container {
  margin-top: 30px;

  @include abstracts.screen(md) {
    margin-top: 20px;
  }
}

.cart-info {
  padding: 30px;

  border-radius: 20px;
  background-color: var(--checkout-cart-info-bg);
  box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);

  @include abstracts.screen(md) {
    padding: 16px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__desc {
    margin-top: 6px;

    font-size: 1.5rem;
    font-weight: 400;
    line-height: 146.667%;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;

    &--lv2 {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 145.455%;
    }
  }

  &__sub-heading {
    margin: 30px 0;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__list {
    margin-top: -30px;

    @include abstracts.screen(md) {
      margin-top: -16px;
    }
  }

  &__footer {
    margin-top: 30px;
  }

  &__row,
  &__continue-link {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;

    &--bold {
      font-size: 2.2rem;
      font-weight: 700;
    }

    &-md--block {
      @include abstracts.screen(md) {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
      }
    }
  }

  &__separate {
    margin: 30px 0;
    height: 1px;
    background-color: var(--checkout-border-color);
  }

  &__continue {
    display: flex;
    align-items: flex-end;

    height: 100%;

    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-arrow {
      rotate: 90deg;
      transition: translate 0.3s;
    }

    &:hover &-arrow {
      translate: -5px;
    }
  }

  &__sub-label {
    font-weight: 400;
  }

  &__next-btn {
    margin-top: 30px;
  }

  &__edit-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.8rem;
    line-height: 144.444%;
  }

  &__checkbox {
    position: relative;

    &-input {
      appearance: none;

      &::before {
        content: url("../icons/checkbox-uncheck.svg");
      }

      &:not(:checked)::before {
        filter: var(--icon-color);
      }

      &:checked::before {
        content: url("../icons/checkbox-checked.svg");
      }
    }
  }

  &__check-all {
    margin: 30px 0;
  }

  &__checkout-all {
    @include abstracts.screen(sm) {
      width: 100%;
    }
  }
}

.cart-info + .cart-info {
  margin-top: 30px;
}

.cart-item {
  display: flex;
  padding: 30px 0;

  border-bottom: 1px solid var(--checkout-border-color);

  @include abstracts.screen(md) {
    padding: 16px 0;

    &:last-child {
      border: none;
    }
  }

  &__img {
    width: 172px;
    height: 172px;
    margin: 0 30px 0 20px;
    object-fit: contain;

    @include abstracts.screen(xxl) {
      width: 150px;
      height: 150px;
    }

    @include abstracts.screen(lg) {
      width: 100px;
      height: 100px;
    }

    @include abstracts.screen(md) {
      width: 60px;
      height: 60px;
      margin: 0 16px;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    align-self: flex-start;

    @include abstracts.screen(md) {
      flex-direction: column;
    }

    &-left {
      flex: 1;
    }

    &-right {
      display: flex;
      flex-direction: column;
    }

    @include abstracts.screen(md) {
      &-right {
        margin-top: 16px;
      }
    }
  }

  &__title {
    display: inline-block;
    max-width: 374px;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__price {
    margin: 16px 0;

    color: #9e9da8;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__status {
    color: #67b044;
  }

  &__control-wrap {
    display: flex;
    align-items: center;
    gap: 30px;

    @include abstracts.screen(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-top: auto;
    min-height: 44px;

    @include abstracts.screen(sm) {
      gap: 10px;
    }

    &--col {
      @include abstracts.screen(md) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 44px;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid #d2d1d6;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;

    &-btn {
      display: flex;
    }
  }

  &__total-price {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;
    text-align: right;

    @include abstracts.screen(md) {
      margin-bottom: 16px;

      text-align: left;
    }
  }

  &__control-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #9e9da8;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;

    &:first-child {
      margin-right: 10px;
    }
  }

  &__checkout-btn {
    margin-top: auto;

    @include abstracts.screen(md) {
      max-width: 200px;
    }
  }
}

.gift {
  display: flex;
  gap: 20px;

  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 76px;
    height: 76px;
    border-radius: 14px;
    background-color: rgb(118, 68, 225, 0.1);
    box-shadow: 0px 20px 60px 10px var(--checkout-gift-shadow);
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__desc {
    margin-top: 10px;

    font-size: 1.4rem;
    line-height: 142.857%;
  }
}

.user-address {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @include abstracts.screen(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__btn {
    @include abstracts.screen(md) {
      height: 46px;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__desc {
    margin-top: 4px;

    font-size: 1.5rem;
    line-height: 146.667%;
  }

  &__message {
    margin-top: 30px;

    font-weight: 500;
  }

  &__link {
    color: #0071dc;
  }
}

.address-card {
  display: flex;
  gap: 16px;

  margin-top: 30px;

  @include abstracts.screen(md) {
    flex-direction: column;
  }

  &__left {
    flex: 1;
    display: flex;
    gap: 16px;
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
  }

  &__desc {
    width: min(520px, 90%);
    margin-top: 4px;

    font-size: 1.5rem;
    line-height: 146.667%;
  }

  &__list {
    display: flex;
    gap: 30px;

    margin-top: 20px;

    font-size: 1.4rem;
    line-height: 142.857%;
    list-style: disc inside;

    @include abstracts.screen(sm) {
      flex-direction: column;
      gap: 10px;
    }

    li {
      margin-left: 8px;
    }
  }

  &__control {
    display: flex;
    align-items: flex-end;

    height: 100%;
  }
}

.payment-item {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--checkout-payment-item-bg);

  @include abstracts.screen(sm) {
    align-items: flex-start;
  }

  &--pointer {
    cursor: pointer;
  }

  &__thumb {
    width: 70px;
    height: 54px;
    object-fit: cover;
  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;

    @include abstracts.screen(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    flex: 1;
  }

  &__title,
  &__cost {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__desc,
  &__detail {
    font-size: 1.5rem;
    line-height: 146.667%;
  }

  &__desc {
    margin-top: 4px;

    &--low {
      color: #9e9da8;
    }
  }

  &__detail {
    margin-right: -8px;
    padding: 8px;

    color: #0071dc;
  }

  &__checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 14px;
  }

  &__checkbox-input:checked + &__cost {
    color: inherit;
  }

  &__cost {
    color: #9e9da8;
  }
}
