html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7500%) hue-rotate(236deg) brightness(99%) contrast(104%);

  --body-bg: #292e39;
  --header-bg: #171c28;
  --top-act-group-bg: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;
}
