@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(13%)
    saturate(3159%) hue-rotate(211deg) brightness(96%) contrast(96%);

  // Header
  --body-bg: #f6f6f6;
  --header-bg: #eee;
  --top-act-group-bg: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  // Footer
  --footer-bg: var(--header-bg);

  @include abstracts.screen(lg) {
    --header-bg: #fff;
    --header-shadow: rgba(237, 237, 246, 0.2);
  }

  // Dropdown
  --dropdown-bg: #fff;
  --dropdown-shadow: rgba(200, 200, 200, 0.4);
  --top-menu-border: #d2d1d6;

  // Sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow: rgba(200, 200, 200, 0.4);

  // Category Item
  --cate-item-bg: #eee;
  --cate-item-img-bg: #fff;
  --cate-item-title-color: #000;

  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
  }

  // Buttons
  --filter-btn-color: #6c6c72;
  --filter-btn-bg: #fff;

  // Product Card
  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);

  // Filter Form
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-form-tag-bg: #f8f8fb;

  // Auth
  --auth-content-bg: #fff;
}
