@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(13%)
    saturate(3159%) hue-rotate(211deg) brightness(96%) contrast(96%);

  // Header
  --body-bg: #f6f6f6;
  --header-bg: #eee;
  --top-act-group-bg: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;
  --header-act-dropdown-bg: #fff;
  --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
  --header-act-dropdown-border-color: #d2d1d6;

  // Footer
  --footer-bg: var(--header-bg);

  @include abstracts.screen(lg) {
    --header-bg: #fff;
    --header-shadow: rgba(237, 237, 246, 0.2);
  }

  // Dropdown
  --dropdown-bg: #fff;
  --dropdown-shadow: rgba(200, 200, 200, 0.4);
  --top-menu-border: #d2d1d6;

  // Sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow: rgba(200, 200, 200, 0.4);

  // Category Item
  --cate-item-bg: #eee;
  --cate-item-img-bg: #fff;
  --cate-item-title-color: #000;

  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
  }

  // Buttons
  --filter-btn-color: #6c6c72;
  --filter-btn-bg: #fff;

  // Product Card
  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);

  // Filter Form
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --form-tag-bg: #f8f8fb;

  // Auth
  --auth-content-bg: #fff;

  @include abstracts.screen(md) {
    --auth-intro-bg: #fff;
  }

  // Form
  --form-placeholder-color: #d2d1d6;
  --form-select-dialog-shadow: rgba($color: #000000, $alpha: 0.15);
  --form-select-dialog-bg: #fff;
  --form-option-hover-bg: #ebebeb;

  // Product Detail
  --product-detail-bg: #fff;
  --product-detail-info-bg: #f6f6f6;
  --product-detail-body-bg: #fff;
  --product-detail-tag-bg: #ededf6;

  @include abstracts.screen(md) {
    --product-detail-bg: #fafafd;
    --product-detail-info-bg: #fff;
  }

  // Breadcrumbs
  --breadcrumbs-bg: #f6f6f6;
  --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

  @include abstracts.screen(md) {
    --breadcrumbs-bg: #fff;
  }

  // Search Bar
  --search-bar-bg: #fff;

  // Review Card
  --review-card-bg: #fafafa;

  @include abstracts.screen(md) {
    --review-card-bg: #fff;
  }

  // Text Content
  --text-content-hr-bg: #ebebeb;

  // Checkout
  --checkout-breadcrumbs-bg: #fff;
  --checkout-cart-info-bg: #fff;
  --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
  --checkout-border-color: #d2d1d6;
  --checkout-gift-shadow: rgba(237, 247, 246, 0.2);

  // Dialog
  --dialog-bg: #fff;
  --dialog-shadow: rgba(237, 237, 246, 0.2);
}
