@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(13%)
    saturate(3159%) hue-rotate(211deg) brightness(96%) contrast(96%);

  --body-bg: #f6f6f6;
  --header-bg: #eee;
  --top-act-group-bg: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.breakpoint(lg) {
    --header-bg: #fff;
  }
}
