@use "../abstracts";

.footer {
  padding: 50px;
  font-size: 1.4rem;
  background-color: var(--footer-bg);

  &__row {
    display: grid;
    grid-template-columns: 2fr 1.3fr 1fr 1fr 1.5fr;
    gap: 60px;

    @include abstracts.screen(lg) {
      grid-template-columns: 1fr;
    }
  }

  &__logo.logo {
    @include abstracts.screen(lg) {
      margin-left: 0;
    }
  }

  &__heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8rem;
  }

  &__list {
    margin-top: 18px;
  }

  &__text,
  &__link {
    padding: 8px 0;
    line-height: 1.4;
  }

  &__text {
    @include abstracts.screen(lg) {
      width: min(400px, 100%);
    }
  }

  &__link {
    display: inline-block;

    &:hover {
      color: #0071dc;
    }
  }

  &__text,
  &__copyright {
    color: var(--footer-text-color);
  }

  &__label {
    margin-top: 20px;
    font-weight: 500;
  }

  &__desc {
    margin-top: 20px;
    line-height: 1.5;

    @include abstracts.screen(lg) {
      width: min(400px, 100%);
    }
  }

  &__help-text {
    margin-top: 40px;
    line-height: 1.4;
  }

  &__form {
    display: flex;
    gap: 10px;
    padding: 16px 0;

    @include abstracts.screen(xl) {
      flex-direction: column;
    }

    @include abstracts.screen(lg) {
      flex-direction: row;
    }

    @include abstracts.screen(sm) {
      flex-direction: column;
    }
  }

  &__input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    border: 2px solid #d2d1d6;
    font-size: 1.6rem;
    font-weight: 500;

    &::placeholder {
      font-weight: 400;
    }

    @include abstracts.screen(lg) {
      width: 40%;
    }

    @include abstracts.screen(md) {
      width: 50%;
      font-size: 1.6rem;
    }

    @include abstracts.screen(sm) {
      width: 100%;
    }
  }

  &__bottom {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include abstracts.screen(md) {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    filter: grayscale(50%);
    transition: translate, filter;
    transition-duration: 0.3s;

    @include abstracts.screen(sm) {
      width: 42px;
      height: 42px;
    }

    &--facebook {
      background-color: #4863a9;
    }

    &--youtube {
      background-color: #f00;
    }

    &--tiktok {
      background-color: #000;
    }

    &--twitter {
      background-color: #4999e6;
    }

    &--google {
      background-color: #d5463a;
    }

    &--linkedin {
      background-color: #2f71ab;
    }

    &:hover {
      filter: grayscale(0);
      translate: 0 -3px;
    }
  }

  &__social-icon {
    width: 14px;
    filter: invert(100%);

    @include abstracts.screen(sm) {
      width: 18px;
    }
  }
}
