@use "../abstracts";

%flexItemsCenter {
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  z-index: 2;

  background-color: var(--header-bg);

  @include abstracts.screen(lg) {
    box-shadow: 0px 20px 60px 10px var(--header-shadow);
  }
}

.top-bar {
  @extend %flexItemsCenter;
  position: relative;
  z-index: 1;
  padding: 30px 0;

  @include abstracts.screen(lg) {
    padding: 20px 0;
  }

  @include abstracts.screen(md) {
    justify-content: space-between;
    padding: 16px 10px;
  }

  &__logo {
    @include abstracts.screen(lg) {
      margin-left: 40px;
      gap: 10px !important;

      &-title {
        font-size: 1.8rem !important;
      }

      &-img {
        width: 24px;
      }
    }

    @include abstracts.screen(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      margin-left: 0px;
    }
  }
}

.navbar {
  margin-left: 129px;

  @include abstracts.screen(xl) {
    margin-left: 28px;
  }

  @include abstracts.screen(lg) {
    position: fixed;
    inset: 0 50% 0 0;
    z-index: 9;

    margin-left: 0;
    padding: 20px 0;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--sidebar-bg);

    translate: -100%;
    transition: translate 0.5s;

    &.show {
      translate: 0;
      box-shadow: 0 40px 90px 20px var(--sidebar-shadow);
    }

    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  @include abstracts.screen(sm) {
    inset: 0 20% 0 0;
  }

  &__close {
    display: none;

    @include abstracts.screen(lg) {
      display: block;
      padding: 10px 40px;
    }

    @include abstracts.screen(sm) {
      padding: 0 20px 10px;
    }
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;

    @include abstracts.screen(lg) {
      position: fixed;
      inset: 0;
      z-index: 8;
      transition: opacity, visibility;
      transition-duration: 0.5s;

      background-color: rgba($color: #000000, $alpha: 0.4);
    }
  }

  &__list {
    @extend %flexItemsCenter;

    @include abstracts.screen(lg) {
      flex-direction: column;
      align-items: flex-start;

      overflow-y: auto;
      overscroll-behavior: contain;
      height: calc(100% - 40px);
    }

    @include abstracts.screen(md) {
      height: calc(100% - 140px);
    }

    @include abstracts.screen(sm) {
      height: calc(100% - 124px);
    }
  }

  &__item {
    &:hover .dropdown {
      display: block;
    }

    @include abstracts.screen(lg) {
      width: 100%;

      &:hover .dropdown {
        display: none;
      }

      &--active .dropdown {
        display: block !important;
      }
    }
  }

  &__link {
    @extend %flexItemsCenter;
    gap: 6px;
    height: 50px;
    padding: 0 15px;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;

    @include abstracts.screen(lg) {
      justify-content: space-between;
      padding: 0 40px;

      font-size: 1.6rem;
      line-height: 150%;
    }

    @include abstracts.screen(sm) {
      height: 44px;
      padding: 0 20px;
    }
  }

  &__arrow {
    margin-top: 3px;

    @include abstracts.screen(lg) {
      rotate: -90deg;
      transition: rotate 0.3s;
    }
  }

  &__item--active &__arrow {
    rotate: 0deg;
  }
}

.top-act {
  margin-left: auto;
  @extend %flexItemsCenter;
  gap: 20px;

  @include abstracts.screen(md) {
    margin-left: 0;

    &__sign-up {
      height: 40px !important;
      padding: 0 8px !important;
      font-size: 1.5rem !important;
    }
  }

  &__group {
    @extend %flexItemsCenter;

    min-width: 50px;
    height: 50px;

    border-radius: 8px;
    background: var(--top-act-group-bg);
    box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
  }

  &__group--single {
    @include abstracts.screen(lg) {
      display: none;
    }
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn-wrap {
    position: relative;

    &:hover .act-dropdown {
      display: block;
    }
  }

  &__btn {
    @extend %flexItemsCenter;
    gap: 10px;

    padding: 13px 20px;
    cursor: pointer;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background-color: var(--top-act-group-separate);
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
  }
}

.nav-btn {
  height: 50px;
  align-items: center;
  padding: 0 40px;

  @include abstracts.screen(sm) {
    height: 44px;
    padding: 0 20px;
  }

  &__title,
  &__qnt {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__title {
    margin-left: 16px;
  }

  &__qnt {
    margin-left: auto;
  }
}

.act-dropdown {
  position: absolute;
  top: 48px;
  right: -60px;

  display: none;
  width: min(500px, 100vw);
  padding-top: 28px;

  &__body {
    position: relative;

    padding: 30px;
    border-radius: 20px;
    background-color: var(--header-act-dropdown-bg);
    box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-shadow);
  }

  &__arrow {
    position: absolute;
    top: -16px;
    right: 90px;

    height: 20.5px;

    filter: var(--dropdown-arrow-color);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__see-all {
    color: #0071dc;
    font-size: 1.8rem;
    line-height: 145.455%;
  }

  &__info {
    margin: 20px 0;
    padding: 20px 0;

    border-width: 1px 0;
    border-color: var(--header-act-dropdown-border-color);
    border-style: solid;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__row + &__row {
    margin-top: 10px;
  }

  &__label,
  &__value {
    font-size: 1.8rem;
    line-height: 145.455%;

    &--bold {
      font-weight: 500;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__checkout-btn {
    min-width: 278px;
  }
}

.cart-review-item {
  text-align: left;

  &__thumb {
    position: relative;

    padding-top: 100%;
    border: 1px solid var(--header-act-dropdown-border-color);
    border-radius: 10px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    margin-top: 14px;

    font-size: 1.4rem;
    line-height: 142.857%;
  }

  &__price {
    margin-top: 6px;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }
}
