@use "../abstracts";

.filter-box {
  position: relative;
  z-index: 1;
}

.filter {
  position: absolute;
  right: 0;
  top: 55px;

  padding: 30px 0;
  border-radius: 20px;
  background: var(--filter-form-bg);
  filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));
  transition: opacity, visibility;
  transition-duration: 0.25s;

  @include abstracts.screen(sm) {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  &__arrow {
    position: absolute;
    top: -16px;
    right: 14px;
    height: 20.5px;
    filter: var(--filter-form-arrow);
  }

  &__heading {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__form {
    margin-top: 30px;

    &-group {
      margin-top: 20px;

      &--inline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
      }
    }

    &-slider {
      position: relative;

      width: 100%;
      height: 2px;
      background-color: #d2d1d6;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        translate: 0 -50%;

        content: "";
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 6px solid #ffb700;
        background-color: var(--filter-form-bg);
      }

      &::before {
        left: var(--min-value);
      }

      &::after {
        left: var(--max-value);
      }
    }

    &-box {
      display: flex;
      align-items: center;

      width: 334px;
      height: 44px;
      padding: 0 16px;
      border-radius: 6px;
      border: 1px solid #d2d1d6;
      overflow: hidden;

      &--sm {
        width: 121px;
        height: 36px;
        padding: 0 12px;

        @include abstracts.screen(xl) {
          width: 100%;
        }
      }

      @include abstracts.screen(sm) {
        width: 100%;
      }
    }

    &-box--sm &-input {
      font-size: 1.4rem;
    }

    &-input {
      width: 100%;

      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;

      &::placeholder {
        color: #9e9da8;
        font-weight: 400;
      }

      @include abstracts.screen(sm) {
        font-size: 1.6rem !important;
      }
    }

    &-box-icon {
      margin-left: 12px;
    }
  }

  &__row {
    display: flex;
  }

  &__separate {
    width: 1px;
    background-color: #eee;
    margin: 0 30px;

    @include abstracts.screen(xl) {
      width: 100%;
      height: 1px;
      margin: 30px 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;

    @include abstracts.screen(sm) {
      position: sticky;
      bottom: 30px;
      background-color: var(--filter-form-bg);
    }
  }

  &__cancel,
  &__submit {
    height: 38px;
    padding: 0 10px;

    @include abstracts.screen(sm) {
      flex: 1;
      height: 42px;
    }
  }

  &__cancel {
    font-size: 1.5rem;
  }

  &__submit {
    font-size: 1.4rem;
  }

  &__heading,
  &__content,
  &__footer {
    padding: 0 30px;
  }

  &__content {
    max-height: calc(100vh - 350px);
    overflow-y: auto;
    overscroll-behavior: contain;

    @include abstracts.screen(xl) {
      flex-direction: column;
    }

    @include abstracts.screen(sm) {
      max-height: calc(100vh - 230px);
      padding-bottom: 60px;
    }
  }
}
