@use "../abstracts";

.review-card {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 30px;
  border-radius: 16px;
  background-color: var(--review-card-bg);

  &__content {
    display: flex;
    gap: 20px;

    margin-bottom: 20px;

    @include abstracts.screen(xl) {
      flex-direction: column;
      align-items: center;

      text-align: center;
    }

    @include abstracts.screen(md) {
      flex-direction: row;
      align-items: initial;

      text-align: initial;
    }
  }

  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

    @include abstracts.screen(md) {
      width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;

    @include abstracts.screen(md) {
      font-size: 1.8rem;
      line-height: 144.444%;
    }
  }

  &__desc {
    margin-top: 10px;

    line-height: 150%;
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 8px 20px;

    margin-top: auto;

    @include abstracts.screen(xl) {
      flex-direction: column;
    }

    @include abstracts.screen(md) {
      flex-direction: row;
    }

    &-title {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
    }
  }
}
