@use "../abstracts";

.review-card {
  padding: 30px;
  border-radius: 16px;
  background-color: var(--review-card-bg);

  &__content {
    display: flex;
    gap: 20px;
  }

  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

    @include abstracts.screen(md) {
      width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;

    @include abstracts.screen(md) {
      font-size: 1.8rem;
      line-height: 144.444%;
    }
  }

  &__desc {
    margin-top: 10px;

    line-height: 150%;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-top: 20px;

    &-title {
      margin-left: 12px;

      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
    }
  }
}
