.search-bar {
  align-items: center;

  height: 50px;
  border-radius: 10px;
  background-color: var(--search-bar-bg);

  &__input {
    flex: 1;

    padding-left: 15px;
    height: 100%;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 142.857%;

    &::placeholder {
      color: #9e9da8;
      font-weight: 400;
    }
  }

  &__submit {
    padding: 0 15px;
    height: 100%;
  }
}
